body { font-family: "Lucida Grande", Arial, sans-serif; font-size: 10px; line-height: 1.25em; background-color: #F0F0F0; color: #444; }
body, html { height: 100%; }
#maingrid { margin: 1em 0; table-layout: fixed; line-height: 0; }
#maingrid td { border: 1px solid #444; cursor: pointer; vertical-align: middle; 
/*    color: transparent;*/
}
#maingrid th { width: 25px; vertical-align: middle; }
.tablesize { width: 2em; border: 2px solid #666; display: inline; cursor: pointer; }
.colorwell { border: 2px solid #CCC; width: 6em; text-align: left; cursor: pointer; }
#maingrid td, input { font-family: Lucidatypewriter, monospace; }
#settings_bar .colorwell-selected { border: 2px solid #000; font-weight: bold; }
.button:hover { background-color: #000; color: #FFF; }
.button { cursor: pointer; }
#settings_bar .settings_section a { padding: 2px 4px; }
#settings_bar .settings_subsection, 
#settings_bar #add_colour_section { padding-top: 3px; }
#settings_bar .settings_section { display: block; margin: 0.5em 1em; text-align: right; min-height: 1.5em; }
#settings_bar > h2 { text-transform: uppercase; color: rgba(0,0,0,0.2); font-size: 150%; padding-left: 0.3333em; margin-top: 0.3333em; padding-top: 0.3333em; border-top: 1px solid #CCC; }
#settings_bar > h2:first-child { padding-top: 0; border-top: none; }
#settings_bar .settings_section h2 { text-align: left; }
#settings_bar .settings_section h3 { float: left; padding-top: 2px; }
#settings_bar .settings_section h4 { text-align: center; }
#settings_bar { height: 100%; position: absolute; top: 0; left: 0; width: 195px; border-right: 1px solid #CCC; }
#settings_bar #palette p { margin: 0.25em 0; }
#settings_bar .settings_section .split_section { display: inline-block; width: 49%; }
#grid_holder { margin-left: 196px; height: 100%; overflow: auto; }
#textbox { width: 100%; height: 5em; }
.transparent { color: transparent; }